<div class="jumbotron text-center">
  <h1>ALPHA BLOG!</h1>
  <h3><i>have a say in ...</i></h3>
  <p>A weblog or blog, is a listing of text, images, or other objects that are arranged in a chronological order that first started appearing in 1998. 
  Blogs are often maintained and run by a single individual, updated daily, or contain personal remarks about a topic, a personal ramble, or an update 
  on the person's life....</p>

    <%= link_to 'Sign up now', signup_path, class: "btn btn-danger  btn-lg btn-xlarge" %>
</div>