<div class="jumbotron text-center">
  <h1>ALPHA BLOG!</h1>
  <p>lab lab lab... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sed illum ut, sunt dolores ratione culpa sequi, exercitationem amet, 
  iste dolorem voluptatem quia atque consectetur. Doloribus quidem sed, architecto fuga harum. ate, est.</p>

    <%= link_to 'Sign up now', signup_path, class: "btn btn-danger  btn-lg btn-xlarge" %>
</div>