<div class="jumbotron text-center">
  <h1>ALPHA BLOG!</h1>
  <p>lab lab lab... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sed illum ut, sunt dolores ratione culpa sequi, exercitationem amet, 
  iste dolorem voluptatem quia atque consectetur. Doloribus quidem sed, architecto fuga harum. Explicabo voluptates placeat pariatur maxime fugit, 
  quia optio ad impedit nihil, nemo quo omnis amet ullam autem eaque delectus dolorum quaerat sequi illo doloribus. In recusandae saepe praesentium, 
  autem voluptate at molestiae quod quaerat quibusdam placeat blanditiis ipsa quia et, vitae nobis neque iste quis earum maxime cupiditate, est.</p>

    <%= link_to 'Sign up now', "#", class: "btn btn-danger  btn-lg btn-xlarge" %>
</div>